{% extends 'base.html' %}
{% set active_page = "upload" %}
{% block head %}
<title>FOP | Upload Project</title>
<script src="{{url_for('static', filename='js/validators.js')}}"></script>

{% endblock %}

{% block body %}

{% with errors = get_flashed_messages() %}
{% if errors %}
{% for error in errors %}
{% for err in error %}
<div class="alert alert-danger alert-dismissible fade show mb-0 px-5" role='alert'>
    <p class="container mb-0">{{ err }}</p>
    <button class="btn-close me-5" type="button" data-bs-dismiss="alert" aria-label="close"></button>
</div>
{% endfor %}
{% endfor %}
{% endif %}
{% endwith %}

<section class="bg-light">
    <div class='text-dark container p-0 p-lg-5 my-5 rounded'>
        <h1 class="d-lg-none d-block text-center mb-5 display-3">Project Details Form</h1>
        <div class="d-lg-flex align-items-center justify-content-center">
            <div class="d-none d-lg-block col-5">
                <p class="h1 mb-2 display-3">Welcome!</p>
                <p class="h3 mb-5">First, please fill in the form</p>
                <img src="../static/images/form.svg" alt="filling form" class="img-fluid pe-5">
            </div>
            <form action="/submitForm" class="p-5 rounded col-lg-7" onsubmit="event.preventDefault();submission();"
                method="POST" novalidate>
                <div class="mb-3 ">
                    <div id="spinnerTeamName" class="spinner-border text-secondary position-absolute"
                        style="width: 0.8rem; height: 0.8rem; margin-top: 0.25rem; margin-left: 6rem; display: none;"
                        role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <label for="teamName" class="form-label">Team Name</label>

                    <input type='text' class="form-control input-needs-validation" name="teamName" id="teamName"
                        aria-label="What's your team name?" placeholder="3-20 characters" maxlength="20" minlength="3"
                        required value="{{team['teamName']}}" onblur="teamNameValidation(this)"
                        onfocus="removeValidInvalidClass(this)">
                    <div class="invalid-feedback">
                        Team name must be 3-20 characters
                    </div>
                </div>
                <div class="mb-3">
                    <label for="selectProject" class="form-label">Project</label>
                    <select id="selectProject" class="form-select" name="selectProject"
                        aria-label="What is your project?" required value="{{team['projectName']}}">
                        {% set projects2122 = allYearsProjectsNames[0][1] %}
                        {% for name in projects2122 %}
                        <option value='{{name}}'>{{name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="teamMembers" class="form-label">Team Members</label>
                    <div id="teamMembers">
                        <div class="mb-3">
                            <input type="text" class='form-control input-needs-validation' name="teamMembers[0]"
                                aria-label="Who are your team members?" minlength="2" maxlength="25"
                                placeholder="2-25 characters" required value="{{team['teamMembers'][0]}}"
                                id='teamMember0' onblur="memberNameValidation(this)"
                                onfocus="removeValidInvalidClass(this)">
                            <div class="invalid-feedback">
                                Name must be 2-25 characters
                            </div>
                        </div>
                        {% if team['teamMembers']|length > 1 %}
                        {% for i in range(1,teamMembers|length) %}
                        <div>
                            <div class="input-group mb-3">
                                <input type="text" class='form-control input-needs-validation'
                                    aria-label="Who are your team members?" required minlength="2" maxlength="25"
                                    placeholder="2-25 characters" name='teamMembers[idx]'
                                    value="{{team['teamMembers'][i]}}" id='teamMember{{i}}'
                                    onblur="memberNameValidation(this)" onfocus="removeValidInvalidClass(this)">
                                <button class="btn btn-danger">Remove</button>
                                <div class="invalid-feedback">
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <button class="btn btn-primary mb-3" id="addMember" type="button">Add</button>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Contact Email</label>
                    <input type='email' class="form-control input-needs-validation" name="email" id="email"
                        aria-label="What's your contact email?" placeholder="example@gmail.com" maxlength="254"
                        minlength="6" required value="{{team['email']}}" onblur=emailValidation(this)
                        onfocus="removeValidInvalidClass(this)">
                    <div class="invalid-feedback">
                        Please use correct email format.
                    </div>
                </div>
                <div class="mb-3">
                    <div id="spinnerGithubLink" class="spinner-border text-secondary position-absolute"
                        style="width: 0.8rem; height: 0.8rem; margin-top: 0.25rem; margin-left: 8.5rem; display: none;"
                        role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <label for="githubLink" class="form-label">GitHub Repo Link</label>
                    <div class="input-group">
                        <span class="input-group-text">https://github.com/</span>
                        <input type="text" class="form-control" id="githubLink" name="githubLink"
                            value="{{team['githubLink']}}" placeholder="(optional) username/fopProject"
                            onblur="githubLinkValidation(this)" onfocus="removeValidInvalidClass(this)">
                        <div class="invalid-feedback">Invalid github link</div>
                    </div>
                    <div class="form-text">If you wish to share your source code</div>
                </div>
                <div class="mb-3">
                    <div id="spinnerVideoLink" class="spinner-border text-secondary position-absolute"
                        style="width: 0.8rem; height: 0.8rem; margin-top: 0.25rem; margin-left: 11.5rem; display: none;"
                        role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <label for="videoLink" class="form-label">Demo Youtube Video Id</label>
                    <div class="input-group">
                        <span class="input-group-text">https://youtu.be/</span>
                        <input type="text" class="form-control input-needs-validation" id="videoLink" name="videoLink"
                            placeholder="example" required value="{{team['videoLink']}}" minlength="5" maxlength="20"
                            onblur="videoLinkValidation(this)" onfocus="removeValidInvalidClass(this)">
                        <div class="invalid-feedback">Invalid video id</div>
                    </div>
                    <div class="form-text">Either unlisted or public link is accepted.</div>
                </div>
                <div class="mb-5  position-relative">
                    <label for="projectDescription" class="form-label">Description</label>
                    <textarea id="projectDescription" style="resize:none" name="projectDescription" cols="30" rows="10"
                        class="form-control input-needs-validation" maxlength="500" minlengh="20" required
                        value="{{team['description']}}" onblur="descriptionValidation(this)"></textarea>
                    <div class="form-text position-absolute end-0" id="charCount">0</div>
                    <div class="form-text">Between 20-500 characters</div>
                    <div class="invalid-feedback">
                        Description must be 20-500 characters.
                    </div>
                </div>
                {{ recaptcha }}
                <p class="mt-3 mb-1 form-text">You and your team retain all of your ownership rights to the content you upload.</p>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</section>
{% endblock %}
<section class="d-flex justify-content-center align-items-center mt-5">
    <img src="{{ url_for('static', filename='images/spinner2.gif') }}" alt="">
</section>

{% block script %}
<script>
    function submission() {
        'use strict';
        let needValidEle = document.getElementsByClassName("input-needs-validation");
        let allValidate = true
        Array.prototype.slice.call(needValidEle)
            .forEach(ele => {
                if (!ele.classList.contains('is-valid')) {
                    ele.classList.add('is-invalid')
                    allValidate = false
                }
            });
        if (allValidate) {
            document.getElementById('content').style.display = "none";
            document.getElementById('loading').style.display = "block";
            document.querySelector('form').submit()
        }
        else {
            return false;
        }
    }

    let memberDiv = document.getElementById('teamMembers')
    let addBtn = document.getElementById('addMember')
    addBtn.addEventListener('click', f => addMember(addBtn, memberDiv))
    projectDescription.addEventListener("keydown", function () {
        document.getElementById("charCount").innerHTML = this.value.length
    })
    projectDescription.addEventListener("keyup", function () {
        document.getElementById("charCount").innerHTML = this.value.length
    })

</script>
{% endblock %}